# Angular specific
modder-header/dist/
modder-header/out-tsc/
modder-header/tmp/
modder-header/coverage/
modder-header/e2e/test-output/
modder-header/.angular/

# Node modules and dependency files
modder-header/node_modules/
modder-header/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Intellij
.idea
*.iml
