# Angular specific
modder/dist/
modder/out-tsc/
modder/tmp/
modder/coverage/
modder/e2e/test-output/
modder/.angular/

# Node modules and dependency files
modder/node_modules/
modder/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Intellij
.idea
*.iml
