:host {
  display: block;
}

.group-item {
}

.group-header {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  background: var(--group-header-bg);
  gap: 0.25rem;
  cursor: pointer;

  @media (min-width: 400px) {
    gap: 0.5rem;
  }
}

.accordion-toggle {
  display: flex;
  align-items: center;
  transition: transform 0.2s;
  user-select: none;
}

.group-item.expanded .accordion-toggle {
  transform: rotate(90deg);
}

.rules-container {
  padding: 0 5px;
}

.group-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  gap: 0.25rem;
}

.ellipsis-no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-title {
  font-weight: normal;
  font-size: 1.25em;
  @extend .ellipsis-no-wrap;
}

.group-pattern-display {
  font-size: 1em;
  color: var(--secondary-text);
  @extend .ellipsis-no-wrap;
}

.group-rule-count {
  font-size: 1em;
  color: var(--secondary-text);
  @extend .ellipsis-no-wrap;
}

.group-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}


.rules-list {
  padding: 5px 0;
}
