<form (submit)="save()"
      class="add-group-section">
  <h3 style="margin: 0;">{{ group() ? 'Edit Group' : 'Add New Group' }}</h3>

  @let name = groupForm.name;
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Name</mat-label>
    <input matInput
           [formField]="name"
           placeholder="Group Name"
    >
  </mat-form-field>
  @let urlPattern = groupForm.urlPattern;
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>URL Pattern</mat-label>
    <input matInput
           [formField]="urlPattern"
           placeholder="URL Pattern"
    >
  </mat-form-field>

  <div class="form-actions">
    <button matButton="outlined"
            type="submit"
            [class.severity-success]="group()"
    >
      {{ group() ? 'Save' : 'Add Group' }}
    </button>
    <button matButton
            [class.severity-error]="group()"
            (click)="cancel()"
    >
      Cancel
    </button>
  </div>

</form>
